{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Khady's Black Box Investigation</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
  </head>
  <body>

<h1>Mystery Black Box Investigation </h1>
<h4>by:Khady Gaye</h4>
<h3>BACKGROUND:</h3>
<p>The Mystery Black Box is a big black rectangle case with a funnel tube coming out from the top of it and a cylinder tube coming out from the bottom. The goal in this investigation is to figure out how to make a similar model and try to replicate the case without knowing what is inside of the mystery black box.</p>
<h3>CLAIM:</h3>
<p>The mystery black box could contain a system with tipping cups and piping/tubes to guide the liquid poured into the funnel to the cylinder tube at the end.</p>
<h3>EVIDENCE:</h3>
<p>The mystery black box is a closed case system that is modeled to show a fluid moving from pouring a liquid into a funnel and coming out from a cylinder tube. The main initial observation was an unknown tubing system. My approach to figuring out how it works was observing and analyzing the funnel and cylinder tube which are the models key structures. I tested the model by putting 800mL of water into the funnel and got back 450mL after the water was poured out of the cylinder tube in 7 secs.</p>
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
}
</style>
</head>
<body>

<h2>Tables and Figures</h2>

<table>
  <tr>
    <th>Trial</th>
    <th>Volume of Water Input (mL)</th>
    <th>Volume of Water Output (mL)</th>
    <th>Delay(s) from and of pour to start of drip</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1000</td>
    <td>0</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>2</td>
    <td>1000</td>
    <td>712</td>
    <td>1min 36secs</td>
  </tr>
  <tr>
      <td>3</td>
      <td>1000</td>
      <td>530</td>
      <td>1min 15secs</td>
  </tr>
  <tr>
       <td>4</td>
       <td>800</td>
       <td>450</td>
       <td>7secs</td>
  </tr>
  <tr>
       <td>5</td>
       <td>800</td>
       <td>630</td>
       <td>55secs</td>
  </tr>
  <tr>
       <td>6</td>
       <td>800</td>
       <td>870</td>
       <td>1min 7secs</td>
  </tr>
  <tr>
       <td>7</td>
       <td>800</td>
       <td>890</td>
       <td>1min 4secs</td>

</table>

</body>
</html>



<h3>REASONING, PART 1:</h3>
<p>Models are the idea of real world situations and systems. They are useful for critical thinking, analysis, and observing. Models are simpler than what they represent because they highlight the main parts of the model and show more relevant pieces of the model.</h4>
<h3>REASONING, PART 2:</h3>
<p>The evidence supports the claim I made about the mystery black box containing a system with tipping cups and piping/tubes to guide the liquid poured into the funnel to the cylinder tube by showing how models are made to allow observations and analysis to be easier to interpret.</h4>
<img src="{% static 'core/blackbox/A_R.png' %}">
<h3>REASONING, PART 3:</h3>
<p>The data would have been different if an opposite or alternative claim were correct and true it would have shown a change. This could also give an idea about what type of system or structure is inside to have built this mystery black box. If other materials were used besides the tipping cup, there would be a major difference in how the model functions. If the opposite claim was true then that would mean my claim is invalid, but if it works accordingly then that means my claim is correct.</p>
<img src="{% static 'core/blackbox/render2.jpg' %}">
<p>Scan the QR code or click <a href="https://adobeaero.app.link/oR8fizO48Nb">here</a> to see my model in Augmented Reality</p>
<img src="{% static 'core/blackbox/QR_Code.png' %}" width="200">
<br>
<h3>Self-Reflection:</h3>
<p>In this project I learned to build a Mystery box without any context of how it works by using backround info and collaborating with my group. When building, my group and I had some challenges. Our model was not so secure so when pouring the water in our project fell apart. What I could do better next time is use stronger materials.



  </body>
</html>

